---
- name: Main | Register the current Go version (if any)
  command: /usr/local/go/bin/go version
  ignore_errors: yes
  register: go_version
  changed_when: false

- name: Main | Install Go if Go is not yet installed or not the desired version
  include_tasks: install_go.yml
  when: go_version is failed or go_version.stdout != golang_target_version
