---
- name: Main | Register the current Go version (if any)
  command: /usr/local/go/bin/go version
  ignore_errors: yes
  register: go_version
  changed_when: false

- name: Main | Install go conditionally
  include_tasks: install_go.yml
  when: go_version is failed or go_version.stdout != go_version_target
